<h1>Imgure</h1>
<h2>User Sign Up</h2>

<div>
        <form action="/creatUser" method="POST">
    <div>
        <label for="name" >User Name :</label>
        <input type="text" name="name" id="name" placeholder="Type your Name">
    </div>
    <div>
        <label for="mobile" >Mobile :</label>
        <input type="text" name="mobile" id="name" placeholder="Type your Mobile. No">
    </div>
    <div>
        <label for="email" >Email :</label>
        <input type="text" name="email" id="email" placeholder="Type your Email">
    </div>
    <div>
        <label for="password" >Password :</label>
        <input type="password" name="name" id="password" placeholder="create Password">
    </div>
    <button type="submit">Submit</button>
        </form>
</div>